@import url('https://fonts.googleapis.com/css?family=Bungee');
* {
  margin: 0;
  padding: 0;
}

#d3-content {
  margin-top: 5%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.bar-text {
  fill: #293234;
  font-size: 10px;
  font-family: 'Century Gothic';
}

.menu {
  background: rgba(0,0,0, 0.2);
  height: 50px;
  width: 150px;
  font-size: 15px;
}

.axis {
  font-size: 15px;
}
